<!-- Begin Blog-->
<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <h3>{{ site.submissionTitle }}</h3>
            <div class="col-lg-8 col-md-10 col-xs-12">
                    <article class="row post">
                        <div class="post-header">
                            <div class="published col-md-6 col-xs-6 pull-left">
                                <span class="caption">Updated:</span>
                                <span class="publish-date" itemprop="datePublished">Aug 22, 2018</span>
                            </div>                                                
                        </div>
                        <p class="post-body"><h6>Registration link via <a href="https://icis2018.aisconferences.org/register/"> ICIS2018 conference system </a></h6></p>
                        <p><h6>BPS'18 workshop is affiliated to ICIS 2018 conference</h6></p>
                        <div>
                            <span>
                                <h6>Registration fee is $100 USD (Early bird: $80, Student: $50/$40)</h6>
                            </span>                   
                        </div>
                        <table border="1" class="col-lg-10 text-center">
                            <tr>
                                <th></th>
                                <th>Early (by October 3rd)</th>
                                <th>Regular (October 4th - November 29th)</th>
                                <th>On-site (November 30th & after)</th>
                            </tr>
                            <tr>
                                <th>AIS Member rate</th>
                                <th>80</th>
                                <th>100</th>
                                <th>120</th>
                            </tr>
                            <tr>
                                <th>AIS Student Member rate</th>
                                <th>40</th>
                                <th>50</th>
                                <th>60</th>
                            </tr>
                            </table>
                    </article>
            </div>
        </div>
    </div>
</section>
<!-- End Blog -->
